<!---Top Rated Moives Page-->
<!---Display the top 15 rated movies in data set-->
<!---Ratings should be- top to lowest->
<!- Movies should have Title, Release year, Rating (out of 10), Brief description)
<!-Clicking on that movie should bring you to the movie page for that movie-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated Movies</title>
    <link rel="stylesheet" href="/path/to/your/style.css"> 
</head>
<body>
    <%- include('partials/header') %> 

    <h1>Top Rated Movies</h1>

<div class="movieContainer">
    <% movies.forEach(movie => { %>
        <div class="movieItem">
            <img src="<%= movie.image %>" alt="<%= movie.title %> Poster" class="poster">
            <h2><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h2>
            <p><strong><span class="releaseYear">Release Year:</span></strong> <%= movie.releaseYear %></p>
            <p><strong><span class="rating">Rating:</span></strong>
                <span class="star-rating">
                    <% for (let i = 1; i <= 10; i++) { %>
                        <span class="star <%= movie.rating >= i ? 'filled' : '' %>">&#9733;</span>
                    <% } %>
                </span>

            </p>
            <p><strong><span class="descriptionLabel">Description:</span></strong> <%= movie.description %></p>
        </div>
    <% }); %>
</div>




</body>
</html>
